name: CI/CD | Backend | polls-service

on:
  push:
    branches: ["main", "staging"]
    paths: ["backend/polls-service/**", ".github/workflows/polls-service.yml"]
  pull_request:
    branches: ["main", "staging"]
    paths: ["backend/polls-service/**", ".github/workflows/polls-service.yml"]

jobs:
  build_and_test:
    name: Build and Test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend/polls-service

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: "24"
          cache: "npm"
          cache-dependency-path: backend/polls-service/package-lock.json

      - name: Install dependencies
        run: ls -la
      - run: npm ci

      - name: Lint code
        run: npm run lint

      - name: Run tests
        run: npm test
